# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore Virtual Environment
.venv/
venv/
env/

# Ignore Django Secret Key and Environment Variables
.env
*.env

# Ignore Database Files
db.sqlite3
db.sqlite3-journal

# Ignore Migrations
**/migrations/__pycache__/
**/migrations/*.pyc

# Ignore Django Static and Media Files
staticfiles/
media/

# Ignore Logs
logs/
*.log
*.out
*.err
gunicorn.log
gunicorn-access.log
gunicorn-error.log

# Ignore Coverage Reports
htmlcov/
.coverage
.coverage.*

# Ignore IDE / Editor Configurations
.vscode/
.idea/
*.swp
*.swo

# Ignore pytest cache
.pytest_cache/

# Ignore MyPy and Type Checking Reports
.mypy_cache/
.dmypy.json
.d

# Ignore Build Files
build/
dist/
*.egg-info/

# Ignore Docker Files
docker-compose.override.yml
.dockerignore

# Ignore Celery Worker PIDs
celerybeat-schedule
celerybeat.pid

# Ignore MacOS Files
.DS_Store

# Ignore Celery Beat
celerybeat-schedule
celerybeat-schedule-*
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir